// 文字スタイル
$black:#0c0c0c;
$white:#ffffff;
$red:#E2001B;
$dark-red:#B40015;
$gray:#9d9d9d;
$light-gray:#fafafa;
$dark-gray:#6d6d6d;
$yellow:#F1B007;

// font-sizeで使用
$font-8:clamp(8px,0.5rem,12px);
$font-12:clamp(12px,0.75rem,16px);
$font-16:clamp(16px,1rem,20px);
$font-20:clamp(20px,1.25rem,24px);
$font-24:clamp(24px,1.5rem,28px);
$font-36:clamp(36px,2.25rem,40px);

$space-8:clamp(8px,0.5rem,16px);
$space-16:clamp(16px,1rem,24px);
$space-24:clamp(24px,1.5rem,32px);
$space-32:clamp(32px,2rem,40px);
$space-36:clamp(36px,2.25rem,44px);



