// 文字スタイル
$black:#0c0c0c;
$white:#ffffff;
$red:#E2001B;
$dark-red:#B40015;
$gray:#9d9d9d;
$light-gray:#fafafa;
$dark-gray:#6d6d6d;
$yellow:#F1B007;

// font-size,spaceで使用
$SS-size:clamp(8px,0.5rem,12px);
$S-size:clamp(16px,1rem,20px);
$M-size:clamp(20px,1.25rem,24px);
$L-size:clamp(24px,1.5rem,28px);
$LL-size:clamp(36px,2.25rem,40px);



