// 文字スタイル
$black:#0c0c0c;
$white:#ffffff;
$red:#E2001B;
$dark-red:#B40015;
$gray:#9d9d9d;
$light-gray:#fafafa;
$dark-gray:#6d6d6d;
$yellow:#F1B007;

// font-sizeで使用
$font-8:8px;
$font-12:12px;
$font-16:16px;
$font-20:20px;
$font-24:24px;
$font-32:32px;
$font-36:36px;
$font-72:72px;
// 余白で使用
$space-4:4px;
$space-8:8px;
$space-16:16px;
$space-24:24px;
$space-32:32px;
$space-36:36px;



