@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, p, figure, blockquote, dl, dd {
  margin: 0;
}

ul[role=list],
ol[role=list] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img, picture {
  max-width: 100%;
  display: block;
}

input, button, textarea, select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *, *::before, *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.l-body {
  font-family: "Noto Sans JP";
}

h1 {
  font-size: 36px;
}

h3 {
  font-size: 20px;
}

/*スマホ用改行*/
.u-br-sp {
  display: block;
}
@media screen and (min-width: 501px) {
  .u-br-sp {
    display: none;
  }
}

/*タブレット用改行*/
.u-br-tb {
  display: block;
}
@media screen and (min-width: 801px) {
  .u-br-tb {
    display: none;
  }
}

/*ナビゲーション*/
.b-header-nav {
  margin: 16px 24px 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 500px) {
  .b-header-nav {
    margin: 8px 16px 0 16px;
  }
}
.b-header-nav__logo {
  width: 30%;
  height: 70px;
}
.b-header-nav__sp-bar {
  width: 50px;
}
.b-header-nav__sp-bar--line {
  width: 60%;
  margin: 20% auto;
  border: 1px solid #E2001B;
}

/*トップテキスト*/
.b-header-top {
  margin: 16px 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media screen and (max-width: 500px) {
  .b-header-top {
    margin: 8px 16px;
    gap: 16px;
  }
}
.b-header-top__h3 {
  color: #E2001B;
}
.b-header-top__h1 {
  font-size: 36px;
}

/*トップ画像*/
.b-header-img {
  width: 100%;
}

/*画像下：テキスト*/
.b-header-bottom {
  margin: 16px 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media screen and (max-width: 500px) {
  .b-header-bottom {
    margin: 8px 16px;
    gap: 16px;
  }
}
.b-header-bottom__h4 {
  color: #6d6d6d;
}
@media screen and (max-width: 500px) {
  .b-header-bottom__h4 {
    font-size: 20px;
  }
}
.b-header-bottom__img {
  width: 80%;
}
@media screen and (max-width: 500px) {
  .b-header-bottom__img {
    width: 100%;
  }
}

/*ボタン*/
.b-header-btn {
  background-color: #F1B007;
  width: 100%;
  text-align: center;
  padding: 8px 0;
}
.b-header-btn__p {
  font-size: 12px;
}

/* オーダーメイド全体の枠組み*/
.l-order-made {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  text-align: center;
  margin: 24px 24px 36px 24px;
}
@media screen and (max-width: 500px) {
  .l-order-made {
    gap: 16px;
    margin: 16px 16px 24px 16px;
  }
}

/* オーダーメイド：メインコンテナ（グレー背景部分）*/
.l-order-made-main {
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media screen and (max-width: 500px) {
  .l-order-made-main {
    gap: 16px;
  }
}

/* メインコンテナ内見出し*/
.b-order-made-main-head {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media screen and (max-width: 500px) {
  .b-order-made-main-head {
    gap: 8px;
  }
}
.b-order-made-main-head__user-content {
  /*人物画像＋テキスト*/
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.b-order-made-main-head__user-content-img {
  width: 10%;
}
.b-order-made-main-head__user-content-p {
  font-size: 20px;
}

/* カリキュラムコンテナ*/
.l-order-made-main-process-content {
  margin: 0 36px 24px 36px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media screen and (max-width: 500px) {
  .l-order-made-main-process-content {
    margin: 0 24px 16px 24px;
    gap: 8px;
  }
}

/* カリキュラムテーブル*/
.b-order-made-process-table {
  /* テーブル全体のCSS*/
  border-spacing: 0 8px;
  background-color: #ffffff;
}
@media screen and (max-width: 500px) {
  .b-order-made-process-table {
    border-spacing: 0;
  }
}
.b-order-made-process-table td {
  /* td共通CSS*/
  padding: 12px 8px;
}
@media screen and (max-width: 500px) {
  .b-order-made-process-table td {
    padding: 8px 4px;
    display: block;
  }
}

/* カリキュラム：月経過（赤背景）*/
.b-order-made-process-month {
  background-color: #B40015;
  color: #ffffff;
}

/* カリキュラム：修了後＋矢印*/
.b-order-made-process-allow {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.b-order-made-process-allow__p {
  font-size: 16px;
  font-weight: bold;
}
@media screen and (max-width: 500px) {
  .b-order-made-process-allow__p {
    font-size: 12px;
  }
}

/*カリキュラム：修了後テキスト*/
.b-order-made-process-text {
  font-weight: bold;
}
.b-order-made-process-text:nth-of-type(2) {
  color: #E2001B;
}

/*サービス全体*/
.l-service {
  background-color: #B40015;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media screen and (max-width: 500px) {
  .l-service {
    padding: 16px;
    gap: 16px;
  }
}

.b-service-heading {
  /*見出しコンテナ （余白調整用） */
  display: flex;
  flex-direction: column;
  gap: 24px;
  /*トップテキスト*/
}
@media screen and (max-width: 500px) {
  .b-service-heading {
    gap: 16px;
  }
}
.b-service-heading__p {
  color: #ffffff;
  text-align: left;
}
.b-service-heading__p--white-line {
  /*白線*/
  display: block;
  margin-top: 8px;
  width: 90px;
  height: 1px;
  background-color: #ffffff;
}
.b-service-heading__h2 {
  color: #ffffff;
}

/* メインテキスト＋画像コンテナ*/
.b-service-main-content {
  /*余白調整用*/
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media screen and (max-width: 500px) {
  .b-service-main-content {
    gap: 16px;
  }
}
.b-service-main-content__p {
  color: #ffffff;
  line-height: 1.75rem;
}
.b-service-main-content__img {
  width: 50%;
  margin: 0 auto;
}

/*カリキュラムバー全体レイアウト*/
.l-service-bar-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* 1本目:上下のカリキュラムバーをまとめたコンテナ*/
.b-service-bar1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  position: relative;
}
@media screen and (max-width: 500px) {
  .b-service-bar1 {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }
}
.b-service-bar1-head {
  /* 白背景：見出し*/
  width: 25%;
}
@media screen and (max-width: 500px) {
  .b-service-bar1-head {
    width: 70%;
  }
}
.b-service-bar1-head__p {
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 4px;
  text-align: center;
  font-weight: bold;
  font-size: clamp(12px, 2vw, 16px);
}
@media screen and (max-width: 500px) {
  .b-service-bar1-head__p {
    justify-content: center;
  }
}
.b-service-bar1-head__p::after {
  /*黒矢印*/
  content: "";
  display: inline-block;
  width: clamp(12px, 2vw, 16px);
  height: clamp(12px, 2vw, 24px);
  background-color: black;
  -webkit-clip-path: polygon(0 0, 100% 50%, 0 100%);
          clip-path: polygon(0 0, 100% 50%, 0 100%);
}
@media screen and (max-width: 500px) {
  .b-service-bar1-head__p::after {
    /*下向きに変更*/
    -webkit-clip-path: polygon(0 0, 100% 0, 50% 100%);
            clip-path: polygon(0 0, 100% 0, 50% 100%);
  }
}
.b-service-bar1-main {
  /* カリキュラムバーメイン */
  width: 70%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
@media screen and (max-width: 500px) {
  .b-service-bar1-main {
    width: 100%;
  }
}
.b-service-bar1-main-head {
  /* 白テキスト：見出しコンテナ */
  display: flex;
  justify-content: space-around;
}
.b-service-bar1-main-head__p {
  width: 50%;
  font-size: 12px;
  text-align: center;
  color: white;
}
.b-service-bar1-main-liner {
  /* バー本体部分（黄色・白背景） */
  position: relative;
  height: 50px;
  background: linear-gradient(to right, #ffffff 50%, #F1B007 50%);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.b-service-bar1-main-liner__p {
  /* 50%の部分 */
  font-weight: bold;
}
.b-service-bar1-main-liner__p::after {
  /* % */
  content: "%";
  font-size: 12px;
  padding-left: 1px;
}
.b-service-bar1-main__sub-span {
  /* 作品完成 */
  color: #ffffff;
  font-size: 12px;
  position: absolute;
  right: 10%;
  bottom: -20%;
}
.b-service-bar1-main__allow {
  /* 矢印部分 */
  background-color: black;
  width: 90%;
  height: 2px;
  position: absolute;
  bottom: 5%;
  right: 0;
}
.b-service-bar1-main__allow::after {
  /* 矢印：先端部分 */
  content: "";
  background-color: black;
  width: 16px;
  height: 16px;
  -webkit-clip-path: polygon(0 0, 100% 50%, 0 100%);
          clip-path: polygon(0 0, 100% 50%, 0 100%);
  position: absolute;
  right: -2px;
  bottom: -7px;
}

/* 2本目:上下のカリキュラムバーをまとめたコンテナ*/
.b-service-bar2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  position: relative;
}
@media screen and (max-width: 500px) {
  .b-service-bar2 {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }
}
.b-service-bar2-head {
  /* 白背景：見出し*/
  width: 25%;
}
@media screen and (max-width: 500px) {
  .b-service-bar2-head {
    width: 70%;
  }
}
.b-service-bar2-head__p {
  color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 4px;
  text-align: center;
  font-weight: bold;
  font-size: clamp(12px, 2vw, 16px);
}
@media screen and (max-width: 500px) {
  .b-service-bar2-head__p {
    justify-content: center;
  }
}
.b-service-bar2-head__p::after {
  /*黒矢印*/
  content: "";
  display: inline-block;
  width: clamp(12px, 2vw, 16px);
  height: clamp(12px, 2vw, 24px);
  background-color: #ffffff;
  -webkit-clip-path: polygon(0 0, 100% 50%, 0 100%);
          clip-path: polygon(0 0, 100% 50%, 0 100%);
}
@media screen and (max-width: 500px) {
  .b-service-bar2-head__p::after {
    /*下向きに変更*/
    -webkit-clip-path: polygon(0 0, 100% 0, 50% 100%);
            clip-path: polygon(0 0, 100% 0, 50% 100%);
  }
}
.b-service-bar2-main {
  /* カリキュラムバーメイン */
  width: 70%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
@media screen and (max-width: 500px) {
  .b-service-bar2-main {
    width: 100%;
  }
}
.b-service-bar2-main-head {
  /* 白テキスト：見出しコンテナ */
  display: flex;
  justify-content: space-around;
}
.b-service-bar2-main-head__p {
  width: 50%;
  font-size: 12px;
  text-align: center;
  color: white;
}
.b-service-bar2-main-liner {
  /* バー本体部分（黄色・白背景） */
  position: relative;
  height: 50px;
  background: linear-gradient(to right, #ffffff 80%, #F1B007 20%);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.b-service-bar2-main-liner__p {
  /* 50%の部分 */
  font-weight: bold;
}
.b-service-bar2-main-liner__p::after {
  /* % */
  content: "%";
  font-size: 12px;
  padding-left: 1px;
}
.b-service-bar2-main__sub-span {
  /* 作品完成 */
  color: #ffffff;
  font-size: 12px;
  position: absolute;
  right: 10%;
  bottom: -20%;
}
.b-service-bar2-main__allow {
  /* 矢印部分 */
  background-color: black;
  width: 90%;
  height: 2px;
  position: absolute;
  bottom: 5%;
  right: 0;
}
.b-service-bar2-main__allow::after {
  /* 矢印：先端部分 */
  content: "";
  background-color: black;
  width: 16px;
  height: 16px;
  -webkit-clip-path: polygon(0 0, 100% 50%, 0 100%);
          clip-path: polygon(0 0, 100% 50%, 0 100%);
  position: absolute;
  right: -2px;
  bottom: -7px;
}

.main {
  /*サービス*/
  /*サポート*/
}
.main__service {
  background-color: #B40015;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media screen and (max-width: 500px) {
  .main__service {
    padding: 16px;
    gap: 16px;
  }
}
.main__service__p {
  color: #ffffff;
  text-align: left;
}
.main__service__p__span {
  display: block;
  margin-top: 8px;
  width: 90px;
  height: 1px;
  background-color: #ffffff;
}
.main__service__h2 {
  color: #ffffff;
}
.main__service__main-container__bar-sec {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.main__service__main-container__bar-sec__bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  position: relative;
}
@media screen and (max-width: 500px) {
  .main__service__main-container__bar-sec__bar {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }
}
.main__service__main-container__bar-sec__bar__content-left {
  width: 25%;
}
@media screen and (max-width: 500px) {
  .main__service__main-container__bar-sec__bar__content-left {
    width: 70%;
  }
}
.main__service__main-container__bar-sec__bar__content-left-p {
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 4px;
  text-align: center;
  font-weight: bold;
  font-size: clamp(12px, 2vw, 16px);
}
@media screen and (max-width: 500px) {
  .main__service__main-container__bar-sec__bar__content-left-p {
    justify-content: center;
  }
}
.main__service__main-container__bar-sec__bar__content-left-p-br {
  display: block;
}
.main__service__main-container__bar-sec__bar__content-left-p-span {
  display: inline-block;
  width: clamp(12px, 2vw, 16px);
  height: clamp(12px, 2vw, 24px);
  background-color: black;
  -webkit-clip-path: polygon(0 0, 100% 50%, 0 100%);
          clip-path: polygon(0 0, 100% 50%, 0 100%);
}
@media screen and (max-width: 500px) {
  .main__service__main-container__bar-sec__bar__content-left-p-span {
    -webkit-clip-path: polygon(0 0, 100% 0, 50% 100%);
            clip-path: polygon(0 0, 100% 0, 50% 100%);
  }
}
.main__service__main-container__bar-sec__bar__content-left2 {
  width: 25%;
  color: white;
}
@media screen and (max-width: 500px) {
  .main__service__main-container__bar-sec__bar__content-left2 {
    width: 70%;
  }
}
.main__service__main-container__bar-sec__bar__content-left2-p {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 4px;
  text-align: center;
  font-weight: bold;
  font-size: clamp(12px, 2vw, 16px);
  background-color: #B40015;
}
@media screen and (max-width: 500px) {
  .main__service__main-container__bar-sec__bar__content-left2-p {
    justify-content: center;
  }
}
.main__service__main-container__bar-sec__bar__content-left2-p-span {
  display: inline-block;
  width: clamp(12px, 2vw, 16px);
  height: clamp(12px, 2vw, 24px);
  background-color: #ffffff;
  -webkit-clip-path: polygon(0 0, 100% 50%, 0 100%);
          clip-path: polygon(0 0, 100% 50%, 0 100%);
}
@media screen and (max-width: 500px) {
  .main__service__main-container__bar-sec__bar__content-left2-p-span {
    -webkit-clip-path: polygon(0 0, 100% 0, 50% 100%);
            clip-path: polygon(0 0, 100% 0, 50% 100%);
  }
}
.main__service__main-container__bar-sec__bar__content-right2 {
  width: 70%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
@media screen and (max-width: 500px) {
  .main__service__main-container__bar-sec__bar__content-right2 {
    width: 100%;
  }
}
.main__service__main-container__bar-sec__bar__content-right2-heading {
  display: flex;
  justify-content: space-around;
}
.main__service__main-container__bar-sec__bar__content-right2-heading-p {
  width: 50%;
  font-size: 12px;
  text-align: center;
  color: white;
}
.main__service__main-container__bar-sec__bar__content-right2-liner {
  position: relative;
  height: 50px;
  background: linear-gradient(to right, #ffffff 80%, #F1B007 20%);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main__service__main-container__bar-sec__bar__content-right2-liner-p1 {
  position: absolute;
  left: 35%;
  font-weight: bold;
}
.main__service__main-container__bar-sec__bar__content-right2-liner-p1-span {
  font-size: 12px;
  padding-left: 1px;
}
.main__service__main-container__bar-sec__bar__content-right2-liner-p2 {
  position: absolute;
  right: 3%;
  font-weight: bold;
}
.main__service__main-container__bar-sec__bar__content-right2-liner-p2-span {
  font-size: 12px;
  padding-left: 1px;
}
.main__service__main-container__bar-sec__bar__content-right2-sub-span {
  color: #ffffff;
  font-size: 12px;
  position: absolute;
  right: 10%;
  bottom: -20%;
}
.main__service__main-container__bar-sec__bar__content-right2-bottom-span {
  font-size: 8px;
  color: white;
  position: absolute;
  bottom: -18%;
  left: 5%;
}
.main__service__main-container__bar-sec__bar__content-right2-allow {
  background-color: black;
  width: 90%;
  height: 2px;
  position: absolute;
  bottom: 5%;
  right: 0;
}
.main__service__main-container__bar-sec__bar__content-right2-allow-span {
  background-color: black;
  width: 16px;
  height: 16px;
  -webkit-clip-path: polygon(0 0, 100% 50%, 0 100%);
          clip-path: polygon(0 0, 100% 50%, 0 100%);
  position: absolute;
  right: -2px;
  bottom: -7px;
}
.main__supports {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 36px 24px;
}
@media screen and (max-width: 500px) {
  .main__supports {
    margin: 24px 16px;
  }
}
.main__supports__h2 {
  text-align: center;
}
.main__supports__card-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media screen and (max-width: 500px) {
  .main__supports__card-container {
    gap: 16px;
  }
}
.main__supports__card-container__h3 {
  color: #E2001B;
  text-align: center;
}
.main__supports__card-container__h3__span {
  display: block;
  background-color: #E2001B;
  width: 10%;
  height: 2px;
  margin: 8px auto 0 auto;
}
@media screen and (max-width: 500px) {
  .main__supports__card-container__h3__span2 {
    display: block;
  }
}
@media screen and (max-width: 500px) {
  .main__supports__card-container__h4__span {
    display: block;
  }
}
.main__supports__card-container__card-img-container {
  position: relative;
  display: flex;
  justify-content: flex-end;
}
.main__supports__card-container__card-img-container__img {
  width: 100%;
}
@media screen and (max-width: 500px) {
  .main__supports__card-container__card-img-container__img {
    width: 90%;
  }
}
.main__supports__card-container__card-img-container__span {
  font-size: 56px;
  font-weight: bold;
  color: #E2001B;
  position: absolute;
  bottom: -36px;
  left: 0;
}
.main__supports__card-container__p__span {
  display: block;
  margin: 2px 0;
}
.main__voice {
  background-color: #fafafa;
}
.main__voice__h2 {
  text-align: center;
}
.main__voice__card-container {
  display: flex;
  gap: 16px;
}
/*# sourceMappingURL=style.SCSS.css.map */