@use "../../../default_mixin_setting/main_mixin" as *;
@use "default-setting" as *;

/*共通CSSここから--------------*/

.l-body{
  font-family:"Noto Sans JP";
}

h1{
  font-size:$font-36;
}
// h2は24px
h3{
  font-size:$font-20;
}
// h4は16px

/*スマホ用改行*/
.u-br-sp{
  @include br-sp;
}

/*タブレット用改行*/
.u-br-tb{
  @include br-tb;

}

/*共通CSSここまで*/


/*ヘッダーここから-------------*/

// header:BEM修正テスト：済

/*ナビゲーション*/
.b-header-nav{
  margin:$space-16 $space-24 0 $space-24;
    display:flex;
    justify-content:space-between;
    align-items:center;

    @include media-sp(){
      margin:$space-8 $space-16 0 $space-16;
    }

    &__logo{
      width:30%;
      height:70px;
    }

    &__sp-bar{
      width:50px;

      &--line{
        width:60%;
        margin:20% auto;
        border:1px solid $red;
      }
    }
}
/*トップテキスト*/
.b-header-top{
    margin:$space-16 $space-24;
    display:flex;
    flex-direction:column;
    gap:$space-24;

    @include  media-sp(){
      margin:$space-8 $space-16;
      gap:$space-16;
    }

    &__h3{
      color:$red;
    }

    &__h1{
      font-size:$font-36;
    }
}
/*トップ画像*/
.b-header-img{
  width:100%;
}

/*画像下：テキスト*/
.b-header-bottom{
  margin:$space-16 $space-24;
  display:flex;
  flex-direction:column;
  gap:$space-24;

  @include media-sp(){
    margin:$space-8 $space-16;
    gap:$space-16;
  }

  &__h4{
    color:$dark-gray;

    @include media-sp(){
      font-size:$font-20;
    }
  }

  &__img{
    width:80%;

    @include media-sp(){
      width:100%;
    }
  }
}

/*ボタン*/
.b-header-btn{
  background-color:$yellow;
    width:100%;
    text-align:center;
    padding:$space-8 0;

    &__p{
      font-size:$font-12;
    }

} 

/*ヘッダーここまで*/

/*オーダーメイドここから----------------*/

/* オーダーメイド全体の枠組み*/
.l-order-made{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:$space-24;
    text-align:center;
    margin:$space-24 $space-24 $space-36 $space-24;

    @include media-sp(){
      gap:$space-16;
      margin:$space-16 $space-16 $space-24 $space-16;
    }
}
/* オーダーメイド：メインコンテナ（グレー背景部分）*/
.l-order-made-main{
      background-color:$light-gray;
      display:flex;
      flex-direction:column;
      gap:$space-24;

      @include media-sp(){
        gap:$space-16;
      }
}
/* メインコンテナ内見出し*/
.b-order-made-main-head{
      display:flex;
      flex-direction:column;
      gap:$space-16;

      @include media-sp(){
        gap:$space-8;
      }

      
      &__user-content{
        /*人物画像＋テキスト*/
        display:flex;
        justify-content:center;
        align-items:center;
        gap:$space-8;

        &-img{
          width:10%;
        }

        &-p{
          font-size:$font-20;
        }
      }
}
/* カリキュラムコンテナ*/
.l-order-made-main-process-content{
      margin:0 $space-36 $space-24 $space-36;
      display:flex;
      flex-direction:column;
      gap:$space-16;

      @include media-sp(){
        margin:0 $space-24 $space-16 $space-24;
        gap:$space-8;
      }
}

/* カリキュラムテーブル*/
.b-order-made-process-table{
  /* テーブル全体のCSS*/
        border-spacing:0 $space-8;
        background-color:$white;
        

        @include media-sp{
          border-spacing:0;
        }

        td{
          /* td共通CSS*/
          padding:$space-12 $space-8;
            @include media-sp{
              padding:$space-8 $space-4;
              display:block;
            }
        }

}

/* カリキュラム：月経過（赤背景）*/
.b-order-made-process-month{
  background-color:$dark-red;
  color:$white;

}


/* カリキュラム：修了後＋矢印*/
.b-order-made-process-allow{
  @include flex;
        gap:$space-8;

        &__p{
          font-size:$font-16;
          font-weight:bold;
          @include media-sp{
            font-size:$font-12;
          }
        }
}

/*カリキュラム：修了後テキスト*/
.b-order-made-process-text{
  font-weight:bold;

  &:nth-of-type(2){
    color:$red;
  }
}

/*オーダーメイドここまで*/

/*サービスここから----------------*/

/*サービス全体*/
.l-service{
  background-color:$dark-red;
  padding:$space-24;
  display:flex;
  flex-direction:column;
  gap:$space-24;

  @include media-sp(){
    padding:$space-16;
    gap:$space-16;
  }

  
}

.b-service-heading{
  /*見出しコンテナ （余白調整用） */
  @include flex-column;
  gap:$space-24;

  @include media-sp(){
    gap:$space-16;
  }

  /*トップテキスト*/
  &__p{
    color:$white;
    text-align:left;

    &::after{
      /*白線*/
      content:'';
      display:block;
      margin-top:$space-8;
      width:90px;
      height:1px;
      background-color:$white;
    }
  }

  &__h2{
    color:$white;
  }
}

/* メインテキスト＋画像コンテナ*/
.b-service-main-content{
  /*余白調整用*/
  @include flex-column;
  gap:$space-24;

  @include media-sp(){
    gap:$space-16;
  }

  &__p{
    color:$white;
    line-height:1.75rem;
  }

  &__img{
    width:50%;
    margin:0 auto;
  }
}

/*カリキュラムバー全体レイアウト*/
.l-service-bar-container{
  @include flex-column;
  gap:12px;
}

/* 1本目:上下のカリキュラムバーをまとめたコンテナ*/

.b-service-bar1{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:$space-24;
    position:relative;

    @include media-sp{
      flex-direction:column;
      align-items:flex-start;
      gap:$space-12;
    }

    
  &-head{
    /* 白背景：見出し*/
    width:25%;

    @include media-sp{
      width:70%;
    }

    &__p{

      background-color:$white;
      display:flex;
      justify-content:space-around;
      align-items:center;
      gap:$space-4;
      text-align:center;
      font-weight:bold;
      font-size:clamp(12px,2vw,16px);
      
      @include media-sp{
        justify-content:center;
      } 

      &::after{
        /*黒矢印*/
        content:'';
        @include triangle(
            inline-block,
            clamp(12px,2vw,16px),
            clamp(12px,2vw,24px),
            black
            );
            
          @include media-sp{
            /*下向きに変更*/
            clip-path:polygon(
              0 0,
              100% 0,
              50% 100%
              );
          }
      } 
      }
    }


    
    &-main{
      /* カリキュラムバーメイン */
      width:70%;
      position:relative;
      @include flex-column;
      gap:8px;

      @include media-sp{
        width:100%;
      }
      
      &-head{
        /* 白テキスト：見出しコンテナ */
        display:flex;
        justify-content:space-around;

          
        &__p{
          width:50%;
          font-size:12px;
          text-align:center;
          color:white;
        }
      }

      
      &-liner{
        /* バー本体部分（黄色・白背景） */
        position:relative;
        height:50px;
        background:linear-gradient(
          to right,
          $white 50%,
          $yellow 50%
          );
        display:flex;
        justify-content:space-around;
        align-items:center;


        
        &__p{
          /* 50%の部分 */
          font-weight:bold;

          
          &::after{
            /* % */
            content:'%';
            font-size:$font-12;
            padding-left:1px;
          }
        }
      }

      
      &-sub-span{
        /* 作品完成 */
        color:$white;
        font-size:12px;
        position:absolute;
        right:10%;
        bottom:-20%;
      }

      
      &-allow{
        /* 矢印部分 */
        // 矢印：線のミックスイン
        @include allow-line(black,90%,2px);
        position:absolute;
        bottom:5%;
        right:0;

        
        &::after{
          /* 矢印：先端部分 */
          content:'';
          // 矢印：先端のミックスイン
          @include allow-triangle();
        }
      }



    }
  }

  /* 2本目:上下のカリキュラムバーをまとめたコンテナ*/

.b-service-bar2{

  display:flex;
    justify-content:space-between;
    align-items:center;
    padding:$space-24;
    position:relative;

    @include media-sp{
      flex-direction:column;
      align-items:flex-start;
      gap:$space-12;
    }

    
  &-head{
    /* 白背景：見出し*/
    width:25%;

    @include media-sp{
      width:70%;
    }

    &__p{
      color:$white;
      display:flex;
      justify-content:space-around;
      align-items:center;
      gap:$space-4;
      text-align:center;
      font-weight:bold;
      font-size:clamp(12px,2vw,16px);
      
      @include media-sp{
        justify-content:center;
      } 

      &::after{
        /*白矢印*/
        content:'';
        @include triangle(
            inline-block,
            clamp(12px,2vw,16px),
            clamp(12px,2vw,24px),
            $white
            );
            
          @include media-sp{
            /*下向きに変更*/
            clip-path:polygon(
              0 0,
              100% 0,
              50% 100%
              );
          }
      } 
      }
    }


    
    &-main{
      /* カリキュラムバーメイン */
      width:70%;
      position:relative;
      @include flex-column;
      gap:8px;

      @include media-sp{
        width:100%;
      }
      
      &-head{
        /* 白テキスト：見出しコンテナ */
        display:flex;
        justify-content:space-around;

          
        &__p{
          /*見出しコンテナ内テキスト*/
          width:50%;
          font-size:12px;
          text-align:center;
          color:white;
        }
      }

      
      &-liner{
        /* バー本体部分（黄色・白背景） */
        position:relative;
        height:50px;
        background:linear-gradient(
          to right,
          $white 80%,
          $yellow 20%
          );
        display:flex;
        justify-content:space-around;
        align-items:center;


        &__p{
          /* pタグ共通部分 */
          font-weight:bold;

          &::after{
            /* % */
            content:'%';
            font-size:$font-12;
            padding-left:1px;
          }

          &:nth-of-type(1){
            // 80の % 部分
            position:absolute;
            left:35%;
          }

          &:nth-of-type(2){
            // 20の % 部分
            position:absolute;
            right:3%;
          }
        }
      }

      
      &-sub-span{
        /* 右下テキスト：配置 */
        color:$white;
        font-size:12px;
        position:absolute;
        right:10%;
        bottom:-20%;
      }

      &-bottom-span{
        /*左下テキスト：配置*/
        font-size:8px;
        color:white;
        position:absolute;
        bottom:-18%;
        left:5%;
      }

      
      &-allow{
        /* 矢印部分 */
        // 矢印：線のミックスイン
        @include allow-line(black,90%,2px);
        position:absolute;
        bottom:5%;
        right:0;

        
        &::after{
          /* 矢印：先端部分 */
          content:'';
          // 矢印：先端のミックスイン
          @include allow-triangle();
        }
      }



    }

}

/*サービスここまで*/

/*サポートここから--------------*/

/*サポート全体*/
.l-supports{
  @include flex-column();
    gap:$space-24;
    margin:$space-36 $space-24;

  @include media-sp(){
    gap:$space-16;
    margin:$space-24 $space-16;
  }
}

/*サポート：メイン見出し*/
.b-supports-h2{
  text-align:center;
}

/*※中身が似ているコンテンツがある為、属性セレクタを使用*/

/*サポート：カード：レイアウト*/
[class*="l-supports-card"]{
  /*カード：レイアウト共通CSS*/
  @include flex-column();
  gap:$space-24;

  h4{
    margin-top:$space-8;
  }

  @include media-sp(){
    gap:$space-16;
  }
}

/*子要素のネストの為に使用。
  その為親セレクタにCSSの指定なし*/
[class*="b-supports-card"]{

  &[class*="-h3"]{
    /*カード1,3:h2用レイアウト*/

    /*カード：赤見出し*/
    color:$red;
    text-align:center;

    &::after{
      /*赤見出し：赤線*/
      content:'';
      display:block;
      background-color:$red;
      width:10%;
      height:2px;
      margin:$space-8 auto 0 auto;
    }
  }

  &[class$="-img-box"]:not([class*="__"]){
    /*サポート：カード：画像コンテナ*/
    /*カード：画像コンテナ共通CSS*/
  position:relative;
  display:flex;
  justify-content:flex-end;

  img{
    /*カードコンテナ：画像*/
    width:100%;

    @include media-sp(){
      width:90%;
    }
    
  }

  span{
    /*画像：数字部分*/
    font-size:56px;
    font-weight:bold;
    color:$red;
    position:absolute;
    bottom:-36px;
    left:0;

  }
  }

  &[class$="-text-box"]:not([class*="__"]){
    /*サポート：カード：テキストコンテナ*/
    /*カード：テキストコンテナ共通CSS*/
  @include flex-column;
  gap:2px;
  }

}
  /*サポートここまで*/

/*卒業生の声ここから------------------*/

/*卒業生の声：セクション*/
.l-voice{
  background-color:$light-gray;
  @include flex-column;
  gap:$space-24;
  position:relative;
}

/*卒業生の声：大見出し*/
.b-voice-h2{
  margin-top:$space-24;
  text-align:center;
}

/*卒業生の声：スライダー用：全体のdiv*/
.l-voice-slider-box{
  display:flex;
  justify-content:space-around;
  padding:0 $space-24;
  position:relative;
  overflow:hidden;
}

/*卒業生の声：カード共通のCSS*/
[class*="l-voice-slider-card"]{
  @include flex-column;
  display:none;
  gap:$space-4;
  width:40%;
  font-size:$space-12;
  text-decoration:none;
  color:black;
  transition:all 1s ease;

  &:hover{
    transform:scale(105%);
    opacity:0.8;
  }


  @include media-sp(){
    width:80%;
    font-size:$font-16;
    gap:$space-8;
  }

  &[class$="--default"]{
    display:flex;
  }

  &[class$="--next"]{
    /*JS制御用：次ページのカード表示位置*/
    display:flex;
    @include media-sp(){
    position:absolute;
    z-index:100;
    transform:
        translate(100%,0) 
        scale(90%);
    opacity:0.4;
    pointer-events:none;
    }
  }

  &[class$="--sub-next"]{
    /*JS制御用：次々ページのカード表示位置*/
    display:flex;
    @include media-sp(){
    position:absolute;
    z-index:100;
    transform:
      translate(200%,0) 
      scale(80%);
    opacity:0.4;
    pointer-events:none;
    }
  }

  &[class$="--prev"]{
    /*JS制御用：前ページのカード表示位置*/
    display:flex;
    @include media-sp(){
      position:absolute;
      z-index:100;
      transform:
          translate(-100%,0) 
          scale(90%);
      opacity:0.4;
      pointer-events:none;
      }
  }

  &[class$="--sub-prev"]{
    /*JS制御用：前々ページ目のカード表示位置*/
    display:flex;
    @include media-sp(){
      position:absolute;
      z-index:100;
      transform:
        translate(-200%,0) 
        scale(80%);
      opacity:0.4;
      pointer-events:none;
      }
  }
}

/*ネストで要素が分かりやすいように記述
  その為、親要素にはCSSの指定なし*/
[class*="b-voice-slider-card"]{

  &[class$="__h4"]{
    /*カード：h4（赤字）*/
    color:$red;
    font-size:clamp(8px,6vw,12px);
    text-align:center;
    font-weight:normal;

    @include media-sp(){
      font-size:clamp(12px,6vw,16px);
    }

  }

  &[class$="__red-shadow-box"]{
    /* カード：変形＋赤背景＋ぼかし */
    /*変形＋赤背景＋ぼかし：ぼかし用のdiv*/
    filter:drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
    
    & div{
      /*変形＋赤背景＋ぼかし：赤背景＋変形用のdiv*/
    /*-red-back*/
    &:nth-of-type(1){
      background-color:$red;
      border-bottom:2px solid black;
      padding:$space-4 0;
      clip-path:polygon(
      0 0,
      90% 0,
      100% 100%,
      0 100%
    );

      @include media-sp(){
        padding:$space-8 0;
      }
    }
    }

    & h4{
      /* 変形＋赤背景＋ぼかし：h4 */
      color:$white;
      text-align:center;
      font-size:clamp($font-12,6vw,$font-16);

      @include media-sp(){
        font-size:clamp($font-16,6vw,$font-20);
      }
    }
  }

  

  &[class$="__p"]{
    /*カード：本文*/
    font-weight:bold;
  }

  &[class$="__name-span"]{
    /*カード：受講生名*/
    color:$gray;
  }

  &[class$="__skill-span"]{
    /*学習言語*/
    color:$dark-gray;
  }

  &[class$=link-span]{
    // インタビューへ
    color:$red;
    text-align:right;
  }

}

[class*="b-voice-btn"]{
    /*スライダー：矢印共通のCSS*/
    background-color:transparent;
    width:clamp(1.25rem,4vw,1.5rem);
    height:clamp(1.25rem,4vw,1.5rem);
    transform:rotate(45deg);
    cursor:pointer;
    transition:all 0.5s ease;

    &:hover{
      width:clamp(1.5rem,4vw,2rem);
      height:clamp(1.5rem,4vw,2rem);
    }

    &[class$="-left"]{
      /*スライダー：左矢印*/
      border: {
        top:2px solid transparent;
        right:2px solid transparent;
        bottom:2px solid black;
        left:2px solid black;
      }
      position:absolute;
      top:50%;
      left:5%;
    }

    &[class$="-right"]{
      /*スライダー：右矢印*/
    border: {
      top:2px solid black;
      right:2px solid black;
      bottom:2px solid transparent;
      left:2px solid transparent;
    }
    position:absolute;
    top:50%;
    right:5%;
    }
    
}

/*ドットボタン全体のdiv*/
.b-voice-dot-box{
  @include flex();
  gap:2vw;
  margin-bottom:$space-24;

}

[class*="b-voice-dot-box"]{

  &[class*="__btn"]{
    width:20px;
    height:4px;
    border:none;
    background-color:$gray;
    transition:all 1s ease;
    cursor:pointer;


    /*動作チェック用テスト*/
    &:hover{
      opacity:0.5;
    }

    &[class$="--active"]{
    /*JS制御用：ドットの現在位置*/
    background-color:black;
    pointer-events:none;
  }
  }

  
}

  
  /*卒業生の声ここまで*/

  // ヘッダー 移行済
  // オーダーメイド 移行済