@use "../../../default_mixin_setting/main_mixin" as *;
@use "default-setting" as *;

body{
  font-family:"Noto Sans JP";
}

h1{
  font-size:$font-36;
}
// h2は24px
h3{
  font-size:$font-20;
}
// h4は16px

.header{

  &__nav-container{
    margin:$space-16 $space-24 0 $space-24;
    display:flex;
    justify-content:space-between;
    align-items:center;

    @include media-sp(){
      margin:$space-8 $space-16 0 $space-16;
    }

    &__logo{
      width:30%;
      height:70px;
    }


    &__sp-3line-bar{
      width:50px;

      &__line-bar{
        width:60%;
        margin:20% auto;
        border:1px solid $red;
      }
    }
    
  }

  &__top-container{
    margin:$space-16 $space-24;
    display:flex;
    flex-direction:column;
    gap:$space-24;

    @include  media(500px){
      margin:$space-8 $space-16;
      gap:$space-16;
    }
    &__h3{
      color:$red;
      @include br-sp();
    }

    &__h1{
      font-size:$font-36;

      @include br-tb();

      @include br-sp();
    }
  }

  &__main-img{
    width:100%;
  }

  &__bottom-container{
    margin:$space-16 $space-24;
    display:flex;
    flex-direction:column;
    gap:$space-24;

    @include media(500px){
      margin:$space-8 $space-16;
      gap:$space-16;
    }

    &__h4{
      color:$dark-gray;

      @include media-sp(){
        font-size:$font-20;
      }

      @include br-sp();
    }

    &__img-1{
      width:80%;

      @include media(500px){
        width:100%;
      }
    }
  }

  &__btn{
    background-color:$yellow;
    width:100%;
    text-align:center;
    padding:$space-8 0;

    &__p{
      font-size:$font-12;
    }
  }
}

.main{
  /*オーダーメイド*/
  &__order-made-container{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:$space-24;
    text-align:center;
    margin:$space-24 $space-24 $space-36 $space-24;

    @include media(500px){
      gap:$space-16;
      margin:$space-16 $space-16 $space-24 $space-16;
    }

    &__top-content{
      
      &__h2{
        @include br-sp();
      }
    }

    &__main-content{
      background-color:$light-gray;
      display:flex;
      flex-direction:column;
      gap:$space-24;

      @include media(500px){
        gap:$space-16;
      }

      &__head-content{
      display:flex;
      flex-direction:column;
      gap:$space-16;

      @include media(500px){
        gap:$space-8;
      }

      &__h3{
        @include br-sp;
      }

      &__user-content{
        display:flex;
        justify-content:center;
        align-items:center;
        gap:$space-8;
        &__img{
        width:10%;
      }

      &__p{
        font-size:$font-20;
      }
      }
    }

    &__process-content{
      margin:0 $space-36 $space-24 $space-36;
      display:flex;
      flex-direction:column;
      gap:$space-16;

      @include media(500px){
        margin:0 $space-24 $space-16 $space-24;
        gap:$space-8;
      }

      &__img1{
        width:75%;
        margin:0 auto;
        @include media(480px){
          width:100%;
        }
      }

      &__p1{
        font-weight:bold;

        @include br-tb();
      }

      &__p2{
        font-weight:bold;
        color:$red;
      }

      &-allow-box{
        @include flex;
        gap:$space-8;


        &-p{
          font-size:$font-16;
          font-weight:bold;
          @include media-sp{
            font-size:$font-12;
          }
        }
      }

      &-table{
        border-spacing:0 $space-8;

        @include media-sp{
          border-spacing:0;
        }
        &-tr{

          &-td1,&-td2{
            padding:$space-12 $space-8;
            @include media-sp{
              padding:$space-8 $space-4;
              display:block;
              @include br-sp;
            }
          }
          &-td1{
            background-color:$dark-red;
            color:$white;
          }

          &-td2{
            background-color: $white;
          }
        }
      }
    }

    
      
    }
  }

  /*サービス*/
  &__service{
    background-color:$dark-red;
    padding:$space-24;
    display:flex;
    flex-direction:column;
    gap:$space-24;

    @include media(500px){
      padding:$space-16;
      gap:$space-16;
    }

    &__p{

      color:$white;
      text-align:left;

      &__span{
        display:block;
        margin-top:$space-8;
        width:90px;
        height:1px;
        background-color:$white;
      }
    }

    &__h2{
      color:$white;

    @include br-tb();
    @include br-sp();
    }

    &__main-container{
      display:flex;
      flex-direction:column;
      gap:$space-24;

      @include media(500px){
        gap:$space-16;
      }
      &__p{
        color:$white;
        line-height:1.75rem;

        &__span{
          display:block;
          margin-top:$space-24;

          @include media(500px){
            margin-top:$space-16;
          }
        }
      }

      &__img1{
      width:50%;
      margin:0 auto;
    }

    // &-curriculum-container{
    //   @include flex-column;
    //   gap:$space-16;

    //   // カリキュラム1本目
    //   &-content{
    //     @include flex(flex,flex-start,center);
    //     gap:$space-12;
    //     @include media-sp(){
    //       @include flex-column;
    //       justify-content:center;
    //       align-items:flex-start;
    //     }

    //     // 白背景のdiv
    //     &-head{
    //       background-color:$white;
    //       clip-path:polygon(0 0,80% 0,100% 50%,80% 100%,0 100%);
    //       @include br-tb; 
    //       @include media-sp{
    //         clip-path:none;
    //         width:70%;
    //         @include br-none;
    //       }


    //       // 当塾のカリキュラム構成（テキストへのCSS）
    //     &-h4{
    //       color:$dark-red;
    //       padding:$space-8 $space-24 $space-8 0;
    //       text-align:center;
    //       @include media-sp{
    //         padding:$space-8;
    //       }
    //     }
    //     }

    //     &-bar{
    //       display:flex;
    //       position:relative;
    //       &-left{
    //         @include flex-column;
    //         &-p{
    //         color:$white;
    //         font-size:$font-12;
    //         text-align:center;
    //         padding:0 $space-12;
    //       }

    //       &-white{
    //         background-color:$white;
    //         text-align:center;
    //         padding:$space-16 0;

    //         &-p{
    //           font-weight:bold;

    //           &-span{
    //             font-size:$font-12;

    //           }
    //         }
    //       }
    //       }

    //       &-right{
    //         @include flex-column;
    //         &-p{
    //         color:$white;
    //         font-size:$font-12;
    //         text-align:center;
    //       }

    //       &-yellow{
    //         background-color:$yellow;
    //         text-align:center;
    //         padding:$space-16 0;

    //         &-p{
    //           font-weight:bold;

    //           &-span{
    //             font-size:$font-12;

    //           }
    //         }
    //       }
    //       }

    //       &-img{
    //         position:absolute;
    //         width:80%;
    //         bottom:-5%;
    //         right:-4%;






    //       }
          
    //     }


    //   }
    // }

    
    }

    
  }

  /*サポート*/
  &__supports{
    @include flex-column();
    gap:$space-24;
    margin:$space-36 $space-24;

    @include media(500px){
      margin:$space-24 $space-16;
    }


    &__h2{
      text-align:center;
    }
  
    &__card-container{
      @include flex-column();
      gap:$space-24;

      @include media(500px){
        gap:$space-16;
      }
      &__h3{
        color:$red;
        text-align:center;

        &__span{
          display:block;
          background-color:$red;
          width:10%;
          height:2px;
          margin:$space-8 auto 0 auto;
        }

        &__span2{
          @include media(500px){
            display:block;
          }
        }
      }

      &__h4{
        &__span{
          @include media(500px){
            display:block;
          }
        }
      }

      &__card-img-container{
          position:relative;
          display:flex;
          justify-content:flex-end;
          &__img{
            width:100%;

            @include media(500px){
              width:90%;
            }
          }

        &__span{
          font-size:56px;
          font-weight:bold;
          color:$red;
          position:absolute;
          bottom:-36px;
          left:0;
        }
      }

      &__p{
        &__span{
          display:block;
          // 行間を入れる為のCSS
          margin:2px 0;
        }
      }
    }
  }

  &__voice{
    background-color:$light-gray;

    &__h2{
      text-align:center;

      
    }

    &__card-container{
      display:flex;
      gap:$space-16;
    }
  }
}

// カリキュラムセクション

.bar-sec{
  @include flex-column;
  gap:12px;
}
.bar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:$space-24;
  position:relative;

  @include media-sp{
    flex-direction:column;
    align-items:flex-start;
    gap:$space-12;
  }
}

// 見出し部分
.content-left{
  width:25%;

  @include media-sp{
    width:70%;
  }
  
  .head-p{
    background-color:$white;
    display:flex;
    justify-content:space-around;
    align-items:center;
    gap:$space-4;
    text-align:center;
    font-weight:bold;
    font-size:clamp(12px,2vw,16px);

    @include media-sp{
      justify-content:center;
    }

    br{
      display:block;
    }

    span{
      @include triangle(
        inline-block,
        clamp(12px,2vw,16px),
        clamp(12px,2vw,24px),
        black
        );
      @include media-sp{
        clip-path:polygon(
          0 0,
          100% 0,
          50% 100%
          );

      }
    }
  }
// }
}


// バー部分
.content-right{
  width:70%;
  position:relative;
  @include flex-column;
  gap:8px;


  @include media-sp{
    width:100%;
  }

  .heading{
  display:flex;
  justify-content:space-around;

  p{
    width:50%;
    font-size:12px;
    text-align:center;
    color:white;
    @include br-tb;
    @include br-sp;

  }
}

.liner{
  position:relative;
  height:50px;
  background:linear-gradient(
    to right,
    $white 50%,
    $yellow 50%
    );
    display:flex;
    justify-content:space-around;
    align-items:center;

    p{
      font-weight:bold;

      span{
        font-size:12px;
        padding-left:1px;
      }
    }

}

.sub-span{
  color:$white;
  font-size:12px;
  position:absolute;
  right:10%;
  bottom:-20%;
}

.bottom-span{
  font-size:8px;
  color:white;
  position:absolute;
  bottom:-18%;
  left:5%;
}
}

.allow{
  @include allow-line(black,80%,2px);
  position:absolute;
  bottom:28px;
  right:28px;

  span{
    @include allow-triangle();
  }

  @include media-min-tb(){
    width:55%;
  }
}

// 2つ目のカリキュラムバー

.content-left2{
  @extend .content-left;
  color:white;
  

  .head-p{
    background-color:$dark-red;
    span{
      background-color:white;
    }
  }
}

.content-right2{
  @extend .content-right;

  .liner{
    background:linear-gradient(
    to right,
    $white 80%,
    $yellow 20%
    );
    justify-content:flex-start;
    

    p{
      position:absolute;
    }
    .number1{
      left:35%;
    }

    .number2{
      right:3%;

    }
  }

}




