*,
*::before,
*::after {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, p, figure, blockquote, dl, dd {
  margin: 0;
}

ul[role=list],
ol[role=list] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img, picture {
  max-width: 100%;
  display: block;
}

input, button, textarea, select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *, *::before, *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  font-family: "Noto Sans JP";
}

h1 {
  font-size: clamp(36px, 2.25rem, 40px);
}

h3 {
  font-size: clamp(20px, 1.25rem, 24px);
}

.header__nav-container {
  margin: clamp(16px, 1rem, 24px) clamp(24px, 1.5rem, 32px) 0 clamp(24px, 1.5rem, 32px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav-container__logo {
  width: 30%;
  height: 70px;
}
.header__nav-container__sp-3line-bar {
  width: 50px;
}
.header__nav-container__sp-3line-bar__line-bar {
  width: 60%;
  margin: 20% auto;
  border: 1px solid #E2001B;
}
.header__top-container {
  margin: clamp(16px, 1rem, 24px) clamp(24px, 1.5rem, 32px);
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.header__top-container__h3 {
  color: #E2001B;
  word-break: auto-phrase;
}
.header__top-container__h1 {
  font-size: clamp(36px, 2.25rem, 40px);
}
@media screen and (max-width: 768px) {
  .header__top-container__h1__span2 {
    display: block;
    margin-left: 18%;
  }
}
@media screen and (max-width: 480px) {
  .header__top-container__h1__span1 {
    display: block;
  }
  .header__top-container__h1__span2 {
    margin: 0;
  }
  .header__top-container__h1__span3 {
    display: block;
  }
}
.header__main-img {
  width: 100%;
}
.header__bottom-container {
  margin: clamp(16px, 1rem, 24px) clamp(24px, 1.5rem, 32px);
  display: flex;
  flex-direction: column;
  gap: clamp(24px, 1.5rem, 32px);
}
.header__bottom-container__h4 {
  color: #6d6d6d;
}
.header__bottom-container__img-1 {
  width: 80%;
}
@media screen and (max-width: 480px) {
  .header__bottom-container__img-1 {
    width: 100%;
  }
}
.header__btn {
  background-color: #F1B007;
  width: 100%;
  text-align: center;
  padding: clamp(8px, 0.5rem, 16px) 0;
}
.header__btn__span {
  font-size: clamp(12px, 0.75rem, 16px);
}

.main__order-made-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(24px, 1.5rem, 32px);
  text-align: center;
  margin: clamp(24px, 1.5rem, 32px) clamp(24px, 1.5rem, 32px) clamp(36px, 2.25rem, 44px) clamp(24px, 1.5rem, 32px);
}
.main__order-made-container__top-content__h2 {
  word-break: auto-phrase;
}
.main__order-made-container__main-content {
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  gap: clamp(24px, 1.5rem, 32px);
}
.main__order-made-container__main-content__head-content {
  display: flex;
  flex-direction: column;
  gap: clamp(16px, 1rem, 24px);
}
@media screen and (max-width: 768px) {
  .main__order-made-container__main-content__head-content__h3__span {
    display: block;
  }
}
.main__order-made-container__main-content__head-content__user-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: clamp(8px, 0.5rem, 16px);
}
.main__order-made-container__main-content__head-content__user-content__img {
  width: 10%;
}
.main__order-made-container__main-content__head-content__user-content__p {
  font-size: clamp(20px, 1.25rem, 24px);
}
.main__order-made-container__main-content__process-content {
  margin: 0 clamp(36px, 2.25rem, 44px) clamp(24px, 1.5rem, 32px) clamp(36px, 2.25rem, 44px);
  display: flex;
  flex-direction: column;
  gap: clamp(24px, 1.5rem, 32px);
}
@media screen and (max-width: 480px) {
  .main__order-made-container__main-content__process-content {
    margin: 0 clamp(16px, 1rem, 24px) clamp(8px, 0.5rem, 16px) clamp(16px, 1rem, 24px);
  }
}
.main__order-made-container__main-content__process-content__img1 {
  width: 75%;
  margin: 0 auto;
}
@media screen and (max-width: 480px) {
  .main__order-made-container__main-content__process-content__img1 {
    width: 100%;
  }
}
.main__order-made-container__main-content__process-content__p1 {
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .main__order-made-container__main-content__process-content__p1__span {
    display: block;
  }
}
.main__order-made-container__main-content__process-content__p2 {
  font-weight: bold;
  color: #E2001B;
}
.main__service {
  background-color: #B40015;
  padding: clamp(24px, 1.5rem, 32px);
  display: flex;
  flex-direction: column;
  gap: clamp(24px, 1.5rem, 32px);
}
.main__service__p {
  color: #ffffff;
  text-align: left;
}
.main__service__p__span {
  display: block;
  margin-top: clamp(8px, 0.5rem, 16px);
  width: 90px;
  height: 1px;
  background-color: #ffffff;
}
.main__service__h2 {
  color: #ffffff;
}
@media screen and (max-width: 768px) {
  .main__service__h2__span {
    display: block;
  }
}
.main__service__main-container {
  display: flex;
  flex-direction: column;
  gap: clamp(24px, 1.5rem, 32px);
}
.main__service__main-container__p {
  color: #ffffff;
  line-height: 1.75rem;
}
.main__service__main-container__p__span {
  display: block;
  margin-top: clamp(24px, 1.5rem, 32px);
}
.main__service__main-container__img1 {
  width: 50%;
  margin: 0 auto;
}
.main__service__main-container__curriculum-main-container {
  display: flex;
  flex-direction: row;
  gap: clamp(16px, 1rem, 24px);
}
@media screen and (max-width: 480px) {
  .main__service__main-container__curriculum-main-container {
    flex-direction: column;
  }
}
.main__service__main-container__curriculum-main-container__curriculum-head-container {
  display: flex;
  flex-direction: column;
  gap: clamp(16px, 1rem, 24px);
  width: 25%;
}
@media screen and (max-width: 480px) {
  .main__service__main-container__curriculum-main-container__curriculum-head-container {
    flex-direction: row;
    width: 100%;
  }
}
.main__service__main-container__curriculum-main-container__curriculum-head-container__img1 {
  width: 100%;
}
@media screen and (max-width: 480px) {
  .main__service__main-container__curriculum-main-container__curriculum-head-container__img1 {
    width: 40%;
  }
}
.main__service__main-container__curriculum-main-container__curriculum-head-container__img2 {
  width: 100%;
}
@media screen and (max-width: 480px) {
  .main__service__main-container__curriculum-main-container__curriculum-head-container__img2 {
    width: 40%;
  }
}
.main__service__main-container__curriculum-main-container__img {
  width: 70%;
}
@media screen and (max-width: 480px) {
  .main__service__main-container__curriculum-main-container__img {
    width: 100%;
  }
}
/*# sourceMappingURL=style.SCSS.css.map */